/* Popup Form Styles */
body{
    font-family: "Sono", monospace;
}

.form-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(112, 64, 64, 0.5); /*for transparent background */
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.form-container h1{
    text-align: center;
    color: #1899ff;
    font-size: 2rem;
}

.close-button {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 2.7rem;
    font-weight: normal;
    cursor: pointer;
}

form{
    position: relative;
    margin-top: 10%;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form button {
    width: 90%;
    padding: 20px 20px;
    margin: 5px 5px;
    border-radius: 5px;
    border: 1px solid hsla(0, 4%, 65%, 0.966);
    font-size: 1.5rem;
}

form>button {
    padding: 20px 20px;
    border-radius: 7px;
    margin-top: 30%;
    background: #f35622;
    color: white;
    border: none;
    cursor: pointer;
    font-size: large;
    font-family: "Sono", monospace;
    font-weight: 700;
}

form button:hover {
    background: #fc5507;
}


/* @media (max-height: 800px){
    form{
        position: relative;
        margin-top: 10%;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }


    form input, form button {
        width: 90%;
        height: 10%;
        /* padding: 30px 20px; */
        margin: 5px 5px;
        border-radius: 5px;
        border: 1px solid hsla(0, 4%, 65%, 0.966);
        font-size: 1rem;
    }
} */